/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body{
    background: #f1f0f0;
}

.nav-bar{
    flex: 1 1 auto;
    text-align: center;
    background: #3D94F6;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    color: #FFFFFF;
    font-family: Open Sans;
    font-size: 21px;
    font-weight: 100;
    padding: 16px;
    box-shadow: 1px 1px 20px 0px #000000;
    -webkit-box-shadow: 1px 1px 20px 0px #000000;
    -moz-box-shadow: 1px 1px 20px 0px #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
}
.nav-bar:hover {
    background: #1E62D0;
    text-decoration: none;
}
.nav-bar:active {
	position:relative;
	top:1px;
}